.DS_STORE
**/.DS_Store
.idea/**
.gradle/**
out/**
build/**
simple-jenkins/resources/docker/jenkins_data/**
simple-jenkins/resources/docker/home/**
simple-jenkins/resources/tmp/**
jenkins-doom-react/resources/docker/jenkins_data/**
jenkins-doom-react/resources/docker/home/**
jenkins-doom-react/resources/tmp/**
simple-s3-lambda/resources/tmp/**
simple-s3-lambda/com-dna-challenge/build/**
simple-s3-lambda/com-dna-challenge/.idea/**
simple-s3-lambda/com-dna-challenge/.gradle/**
spark-s3/resources/tmp/**
spark-s3/spark-to-s3/build/**
spark-s3/spark-to-s3/.idea/**
spark-s3/spark-to-s3/.gradle/**
simple-springboot-docker/resources/tmp/**
weather-alerts/resources/tmp/**
weather-alerts/com-alert-lambda/build/**
weather-alerts/com-alert-lambda/.idea/**
weather-alerts/com-alert-lambda/.gradle/**
weather-alerts/com-alert-microservice/build/**
weather-alerts/com-alert-microservice/.idea/**
weather-alerts/com-alert-microservice/.gradle/**
postgres/resources/tmp/**
simple-kafka/resources/tmp/**
postgres-kafka-cdc/resources/tmp/**
sonar/resources/tmp/**
elasticsearch-kibana/resources/tmp/**
jupyter-spark/resources/tmp/**
jupyter-spark/resources/docker/volume/**
